path {
    fill:none;
    stroke-width:1px;
}

.axis path{
    fill:none;
    stroke: black;
}
.axis {
    font-size:10pt;
    font-family:sans-serif;
}
.tick {
    fill:none;
    stroke:black;
}
circle.outer{
    stroke:red;
    stroke-width:2px;
    fill: none;
}
circle.inner{
    stroke:red;
    stroke-width:2px;
    fill: red;
}
path.rh100{
    stroke:Black;
}
path.rhline{
    stroke:Gray;
} 
path.w{
    fill: White;
}
rect.chartbg{
  fill: rgb(100,100,100);
  fill-opacity: 0.1;
}
rect.w{
  fill: White;
}
path.comfortzone{
  fill: rgb(0,0,250);
  fill-opacity: 0.5;
}   